<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
    Dalston
    <br>
    <img src=http://upload.wikimedia.org/wikipedia/commons/7/71/Dalston_dereliction_1.jpg>
  </div>
  <div class="parallax__layer parallax__layer--base">
    Finsbury Park
    <br>
    <img src=http://upload.wikimedia.org/wikipedia/commons/7/71/Dalston_dereliction_1.jpg>
  </div>
</div>
<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
    Dalston
    <br>
    <img src=http://www.livincool.com/wp-content/uploads/2010/01/a-friday-night-at-dalston-superstore-33.jpg>
  </div>
  <div class="parallax__layer parallax__layer--base">
    Finsbury Park
    <br>
    <img src=http://www.livincool.com/wp-content/uploads/2010/01/a-friday-night-at-dalston-superstore-33.jpg>
  </div>
</div>


