

<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
    Dalston (/ˈdɔːlstən/) is a district of north-east London, England, located in the London Borough of Hackney. It is situated 3.5 miles (5.6 km) northeast of Charing Cross. The area is identified in the London Plan as one of 35 major centres in Greater London.[1] Its historical borders are Kingsland Road and Kingsland High Street in the west, London Fields in the east, Downs Park Road in the north and the Shoreditch parish boundary in the south. Its main shopping street, Kingsland High Street, follows the route of the Roman Ermine Street, and has the road number A10. Modern Dalston is often seen as the area surrounding both sides of Kingsland High Street, even though some of the west side is within the London Borough of Islington.
  </div>
  <div class="parallax__layer parallax__layer--base">
    Finsbury Park is a 110-acre (46-hectare) public park in the London Borough of Haringey.[1] Within the ward of the London neighbourhood of Harringay, Finsbury Park is in the area for centuries covered by the historic parish of Hornsey, succeeded by the Municipal Borough of Hornsey which are now, as with the Finsbury division of Middlesex from which it takes its name, generally associated with narrower areas beyond the park's boundaries. It was one of the first of the great London parks laid out in the Victorian era and served the whole of the Finsbury division which early developed into suburban and urban areas (based on the then discontinued Ossulstone hundred).
  </div>
</div>