<!DOCTYPE html>

<html>
  <head>
    <title>CSS Project</title>

      <link rel="stylesheet" type="text/css" href="/css/reset.css">
      <link rel="stylesheet" type="text/css" href="/css/application.css">

  </head>

  <body>

  <header>
    <div id="logo"><a href='/' id='logo'>London Boroughs</a></div>
    <center>
    <a href='/#group2' class='button'>Dalston</a>
    <a href='/#group3' class='button2'>Finsbury Park</a>
    <a href='/#group4' class='button'>Camden</a>
    <a href='/#group5' class='button'>Notting Hill</a>
    <a href='/#group6' class='button'>Chelsea</a>
    </center>
  </header>

  <%= yield %>

  </body>

</html>